%form
  .form-group.row.has-danger
    .col-md-4
      %input.form-control.form-control-danger{:placeholder => "Category name", :type => "text"}
      .form-control-feedback Can't be blank

  %button.btn.btn-primary{:type => "submit"} Save
