.form-container
  .form-group.row.has-danger
    %label.col-xs-2.col-form-label{:for => "example-email-input"} Email
    .col-xs-4
      %input.form-control.form-control-danger{:placeholder => "user@gmail.com", :type => "email"}
      .form-control-feedback Can't be blank
  .form-group.row.has-danger
    %label.col-xs-2.col-form-label{:for => "example-email-input"} Password
    .col-xs-4
      %input.form-control.form-control-danger{:placeholder => "hard-to-guess-word", :type => "password"}
      .form-control-feedback Can't be blank

  .form-group.row
    %button.btn.btn-info{:type => "submit"} Login
