- if Review.count.zero?
  %h2.text-md-center No reviews have been created yet.
- else
  .row 
    .col-md-12
      %ul.list-group
        - @reviews.each do |review|
          %li.list-group-item 
            %h3 
              = link_to "#{review.business.name}", business_path(review.business)
            %h6= review_star_string(review.rating)
            %p= review.description